
.features-section {
    background-color: #FFFFFF; 
    padding: 5rem 0; 
    text-align: center;
  }
  
  .features-section h2 {
    color: #4A5568; 
  }
  
  .features-section .feature-item {
    background-color: #FFFFFF; 
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .features-section .feature-item h3 {
    color: #2D3748; 
  }
  
  .features-section .feature-item p {
    color: #718096; 
  }
  
 
  .dark-theme .features-section {
    background-color: #000000;
  }
  
  .dark-theme .features-section h2 {
    color: #FFFFFF; 
  }
  
  .dark-theme .parent-div {
    background-color: black;
  }
  
.dark-theme .cards {
    background-color: #0d542b;
    color: wheat;
}

.dark-theme .textStyle {
    color: wheat;
}
  