.dark-theme .parentProfile {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;
}

.dark-theme .profileCard {
    background-color:#0d542b;
    color: wheat;
}

.dark-theme .textColor {
    color: wheat;
}

.dark-theme .jobCard {
    background-color: wheat;
    color: black;
}