.dark-theme .parentRegister {
    background-color: black;
}

.dark-theme .registerCard{
    background-color:#0d542b;
    color: wheat;
}

.dark-theme .textColor {
    color: wheat;
}

.dark-theme .registerField {
    background-color: wheat;
    color: black;
}

.dark-theme .registerField:hover {
    background-color: beige;
}

.myClass {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}





@media (max-width: 768px) { 
    .parentRegister {
      flex-direction: row; 
      align-items: left;  
      justify-content: left; 
    }
  
    .registerCard {
      width: 70%; 
      left: 20;
    }
  
    .animationSection {
      width: 25%; 
    }
  }
  
